/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  background-color: #e6e6e6;
  font: 11px Tahoma,Geneva,sans-serif;
  margin: 3px 0 0;
  padding: 0;
}

#body .container{
    margin-top: 0;
    padding: 15px;
    background-color: #ffffff;
}

#head > .container{
    background-color: #fff;
}

#menu > .container,#head > .container{
    padding: 0;
}

#menu .navbar {
    margin: 0;
}

#menu .navbar .container{
    padding: 5px;
}


#head-logo{
    padding: 0 10px;
    text-align: center;
    vertical-align: 20px;
    float: none !important;
}

#head-logo img{
    height: 150px;
    margin: 20px;
    width: 250px;
}


#bxslider2 li{
  width: 150px;
  height: 150px;

}

#list-morning .bx-viewport{
background-color: #222222;
padding: 5px;
border: none;
    transform: none;
}

#list-morning img{
    border-radius: 5px;
}

ul.bxslider{
    padding: 0;
}

.bs-docs-masthead{
    background-color: #2f1459;
    background-image: linear-gradient(to bottom, #3d2463 0px, #2f1459 100%);
    background-repeat: repeat-x;
    color: #cdbfe3;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#footer .container{
    background-color: #222222;
    color:#9d9d9d;
}
